<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<%= stylesheet_link_tag "main" %>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/posts">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/hot">
                <i class="em em-fire"></i>
                Hot
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/fresh">
                  Fresh
              </a>
          </li>
        </ul>

        <div class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" id="navbar-dropdown-show" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="em em-flag-um" id="preview-flag"></i>
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-item" id="dropdown-item-option-1" href="/?en">
                  <i class="em em-flag-um"></i>
                  EN
              </div>
              <div class="dropdown-item" id="dropdown-item-option-2" href="/?bg">
                  <i class="em em-flag-bg"></i>
                  BG
              </div>
           </div>
       </div>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <form action="/login">
            <button type="submit" class="btn btn-space" href="/login">Login</button>
        </form>
  </div>
</nav>
