body {
  font-family: Arial;
  padding: 0;
  background: #f1f1f1;
  margin: 0;
}
/* Header/Blog Title */
#header {
  padding: 1%;
  text-align: center;
  background: Gainsboro;
  margin-bottom: 1%;
}

#title {
  text-align: center;
}

/* Tables */
table {
  border-collapse: collapse;
width: 100%
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td.button:hover{
  background-color: darkgray;
}

td.button{
  width: 10%;
  text-align: center;
  background-color: lightgray;
}

/* Footer */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f8f9fa;
  margin-top: 15px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.ding{
    padding: 20px 15px 20px;
    background-color: white;
}

#post:hover{
    text-decoration: none;
    /* color: black; */
}

#post{
    color: black;
}

.card{
    padding: 0;
}

.fa{
    padding: 15px;
    font-size: 2em;
}

.fa:hover {
    text-decoration: none;
}

.footer-el {
    padding: 15px;
}

h1.title {
    padding: 0 0 6px 15px;
}

.card-footer{
    font-size: 20px;
    padding: 10px 10px;
    background-color: #f8f9fa;
    /* width: 100px; */
    /* height: 200px; */
}

.img{
    max-width: 40px;
    max-height: 40px;
    align: middle;
}

.trending{
    color: green;
}
